/* wpvite logo css */
.wpvite_logo {
    /* font-size: 3.5rem; */
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.wpvite_logo .wp {
    /* color: #0073AA; */
    color: #005A8D;
    /* WordPress Blue */
}

.wpvite_logo .brackets {
    /* color: #1DB954; */
    color: #19A547;
    /* Green for growth and innovation */
}

.wpvite_logo .vite {
    /* background: linear-gradient(90deg, #1DB954, #00C9A7); */
    background: linear-gradient(90deg, #0baa44, #02b99a);
    /* Gradient for "vite" */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    margin: 0 0;
}

.navbar-brand .wpvite_logo {
    font-size: 2rem;
}
.navbar-brand img.wpvite_logo {
    width: 180px;
}
.auth-logo-container img.wpvite_logo {
    width: 230px;
    margin: 0 auto;
}
